<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinelearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.onlinelearning.CoursePage"></activity>
        <activity android:name="com.example.onlinelearning.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.onlinelearning.Video_music"></activity>
        <activity android:name="com.example.onlinelearning.Save_Data"></activity>
        <activity android:name="com.example.onlinelearning.More"></activity>
        <activity android:name="com.example.onlinelearning.Music"></activity>
        <activity android:name="com.example.onlinelearning.Animation"></activity>
        <activity android:name="com.example.onlinelearning.fragment"></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>